div {
  background-color: var(--white0);
  display: inline-flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 280px;
  padding: 20px;
  border: 1px solid var(--white2);
  border-radius: 6px;

  box-shadow: #00000033 0px 18px 50px -10px;

  font-family: sans-serif;
  user-select: none;
  transition: 500ms;
}

div:hover {
  scale: 0.98;
  background-color: transparent;
  border: 1px solid var(--white1);
  box-shadow: none;
}

div h3 {
  color: var(--tertiary);
  text-transform: uppercase;
  font-size: 21px;
  text-align: center;
  font-weight: bold;
  text-shadow: 0px 0px 5px var(--white2);
}

div p {
  color: var(--primary-light);
  background-color: #2f2c3255;
  padding: 18px 8px;
  text-align: center;
  border-radius: 8px;
  position: relative;
}

#descriptionInput {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;

  box-sizing: border-box;
  color: #2a292899;
  background-color: #edeae2;
  caret-color: #2a2828;
  display: inline;
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
  padding: 18px 9px;

  outline: none;
  border: none;
  border-radius: 3px;
  text-align: center;
  font-family: sans-serif;
  font-size: medium;
  overflow: hidden;
  resize: none;
  box-shadow: #4834237e 0px 20px 40px -8px inset,
              #1b1b1a82 0px 10px 36px -8px inset;
}

ul {
  padding: 0;
}

li {
  color: var(--secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 10px 2px 10px 16px;

  transition: 180ms;
}

li:hover {
  background-color: var(--black1);
}

li span {
  color: var(--tertiary);
  padding: 6px 12px;
  font-weight: bold;

  cursor: pointer;
  transition: 250ms ease-out;
}

li span:hover {
  color: #b8b19e;
  color: var(--quintenary);
}

#newItemInput {
  color: #b8b19e9f;
  background-color: var(--white0);
  border: none;
  border-bottom: 1px solid var(--white2);
  outline: none;
  padding: 12px 8px;
  transition: 100ms;
}

#newItemInput:focus {
  color: #b8b19eec;
  background-color: var(--white1);
  border-bottom: 1px solid var(--quintenary);
}

div button {
  color: var(--tertiary);
  background-color: transparent;
  align-self: flex-start;
  width: fit-content;
  max-width: 100%;
  margin: 14px 0 20px 0;
  padding: 8px;
  border: 1px solid transparent;
  border-radius: 4px;

  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  word-wrap: break-word;

  cursor: pointer;
  transition: 250ms ease-out;
}

div button:hover {
  color: var(--quintenary);
}
