div {
  background-color: var(--card-bg);
  display: inline-flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 280px;
  padding: 20px;
  border: 1px solid var(--card-border);
  border-radius: 6px;

  box-shadow: #00000033 0px 18px 50px -10px;

  font-family: sans-serif;
  user-select: none;
  transition: 500ms;
}

div:hover {
  scale: 0.98;
  background-color: transparent;
  box-shadow: none;
}

div h3 {
  color: var(--title-color);
  margin: 0;
  padding: 12px;
  text-transform: uppercase;
  font-size: 21px;
  text-align: center;
  font-weight: bold;
  text-shadow: 0px 0px 5px var(--title-shadow-color);
}

div p {
  color: var(--text2-color);
  background-color: var(--black2);
  padding: 18px 8px;
  text-align: center;
  border-radius: 8px;
  position: relative;
}

ul {
  padding: 0;
}

li {
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 10px 2px 10px 16px;

  transition: 180ms;
}

li:hover {
  background-color: var(--black1);
}

li span {
  color: var(--title-color);
  padding: 6px 12px;
  font-weight: bold;

  cursor: pointer;
  transition: 250ms ease-out;
}

li span:hover {
  color: var(--btn-hover);
}

#newItemInput {
  color: var(--placeholder);
  background-color: var(--white2);
  border: none;
  border-bottom: 1px solid var(--newiteminput);
  outline: none;
  padding: 12px 8px;
  transition: 100ms;
}

#newItemInput:focus {
  border-bottom: 1px solid var(--newiteminput2);
}

div button {
  color: var(--title-color);
  background-color: transparent;
  align-self: flex-start;
  width: fit-content;
  max-width: 100%;
  margin: 14px 0 20px 0;
  padding: 8px;
  border: 1px solid transparent;
  border-radius: 4px;

  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  word-wrap: break-word;

  cursor: pointer;
  transition: 250ms ease-out;
}

div button:hover {
  color: var(--btn-hover);
}
