<div>
  <h3
    dinamicText
    [dinamicValue]="cardName"
    (onDinamicChange)="cardName = $event"
  >
    {{ cardName }}
  </h3>
  <p id="cardDescription"
    dinamicText
    [dinamicValue]="cardDescription"
    (onDinamicChange)="cardDescription = $event"
  >
    {{ cardDescription }}
  </p>

  <ul>
    <li *ngFor="let item of listItems; let i = index">
      {{ item }} <span (click)="removeItem(i)">✖</span>
    </li>
  </ul>

  <input type="text" name="newItem" id="newItemInput" (keydown.enter)="addItem()" [(ngModel)]="newItemText" />
  <button class="add-item" (click)="addItem()">
    Adicionar {{ newItemText }}
  </button>
</div>
