.card-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: min(92vw, 1720px);
  margin: 60px auto;
  gap: 80px;
}

#styleMode {
  color: var(--secondary);
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 8px;
  box-sizing: border-box;
  margin-left: auto;
  padding: 8px;

  border: none;
  cursor: pointer;
  font-style: italic;
  font-size: 16px;
}

#styleMode > span {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 3px solid var(--secondary);
}

.unable {
  background-color: var(--quaternary-light);
}

.disable {
  background-color: transparent;
}
