#card-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: min(92vw, 1720px);
  margin: 60px auto;
  gap: 80px;
}

#createCardBtn {
  background-color: #ffffff17;
  color: var(--title-color);
  border: none;
  outline: none;
  height: fit-content;
  align-self: center;
  display: flex;
  flex-direction: column;

  padding: 18px;
  border-radius: 8px;
  font-size: large;
  box-shadow: #00000025 0px 10px 50px -10px;
  cursor: pointer;
  transition: 450ms;
}

#createCardBtn:hover {
  transform: scale(1.03);
  background-color: #ffffff1c;
  box-shadow: #00000010 0px 10px 50px -10px;
}

#createCardBtn > svg {
  background-color: #00000046;
  fill: #ffffffa7;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  margin: 20px auto 0 auto;
}

#styleMode {
  color: var(--secondary);
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 8px;
  box-sizing: border-box;
  margin-left: auto;
  padding: 8px;

  border: none;
  cursor: pointer;
  font-style: italic;
  font-size: 16px;
}

#styleMode > span {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 18px;
  border-radius: 50rem;
  border: 3px solid var(--secondary);
  box-shadow: 0px 1px 8px -2px #0000005f;
}

#styleMode > span::after {
  content: '';
  position: absolute;
  right: 0;
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--secondary);

  transition: 350ms;
  box-shadow: 0px 0px 10px 0px #0000005f;
}

.disabled::after {
  transform: translateX(calc(-100% + 4px));
}

.enabled {
  transition: 250ms;
  background-color: #3b5625;
}

.disabled {
  transition: 250ms;
  background-color: transparent;
}
