.card-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: min(92vw, 1720px);
  margin: 60px auto;
  gap: 80px;
}

#styleMode {
  color: var(--secondary);
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 8px;
  box-sizing: border-box;
  margin-left: auto;
  padding: 8px;

  border: none;
  cursor: pointer;
  font-style: italic;
  font-size: 16px;
}

#styleMode > span {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 18px;
  border-radius: 50rem;
  border: 3px solid var(--secondary);
}

#styleMode > span::after {
  content: '';
  position: absolute;
  right: 0;
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--quaternary-light);

  transition: 250ms;
}

.disabled::after {
  transform: translateX(calc(-100% + 4px));
}

.enabled {
  transition: 250ms;
  background-color: #496234;
}

.disabled {
  transition: 250ms;
  background-color: transparent;
}
