:root {
  --primary: #3f3b43;
  --primary1: #413D45;

  --primary-light: #9a989c;
  --secondary: #737a76;
  --secondary2: #5c605e;
  --tertiary: #b8b19e;
  --tertiary2: #c0b8a2;
  --quaternary: #bcb194;
  --quaternary2: #cac0a3;
  --quaternary-light: #bcb194d1;
  --quintenary: #b8946f;
  --quintenary2: #6c5741;
  --quintenary-light: #b8946fd6;

  --black3: #0000002f;
  --black2: #00000015;
  --black1: #0000000f;
  --black0: #00000005;

  --white2: #ffffff2f;
  --white2: #ffffff15;
  --white1: #ffffff0f;
  --white0: #ffffff03;
}

.light-mode {
  --page-bg: var(--tertiary);

  --card-bg: var(--tertiary2);
  --card-border: var(--black3);

  --title-color: var(--primary);
  --title-shadow-color: var(--black2);

  --text-color: var(--quintenary2);
  --text2-color: var(--secondary2);

  --edit-color: var(--primary);
  --edit-bg: var(--quaternary2);
  --edit-border: var(--primary);

  --btn-hover: var(--secondary2);
  --placeholder: var(--secondary2);

  --newiteminput: var(--primary-light);
  --newiteminput2: var(--primary);
}

.dark-mode {
  --page-bg: var(--primary);

  --card-bg: var(--primary1);
  --card-border: var(--white2);

  --title-color: var(--tertiary);
  --title-shadow-color: var(--white2);

  --text-color: var(--secondary);
  --text2-color: var(--primary-light);

  --edit-color: var(--primary);
  --edit-bg: var(--tertiary);
  --edit-border: var(--primary);

  --btn-hover: var(--quintenary);
  --placeholder: var(--quaternary-light);

  --newiteminput: var(--white2);
  --newiteminput2: var(--tertiary);
}

body {
  background-color: var(--page-bg);
}

#testitem {
  padding: 10px;
  font-size: 20px;
  font-family: sans-serif;
  color: white;

  width: 400px;
  background-color: #545158;
}

.dinamicInput {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;

  box-sizing: border-box;
  color: black;
  /* color: transparent; */
  background-color: #ffffff5f;
  /* background-color: transparent; */

  outline: none;
  caret-color: wheat;

  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
  max-height: 100%;

  margin: 0;
  border: none;

  overflow: hidden;
  resize: none;
}


/*
background
main
caret
sub
sub alt
text
error
extra error
*/
