:root {
  --primary: #3f3b43;
  --primary1: #413D45;


  --primary-light: #9a989c;
  --secondary: #737a76;
  --tertiary: #b8b19e;
  --quaternary: #bcb194;
  --quaternary-light: #bcb194d1;
  --quintenary: #b8946f;
  --quintenary-light: #b8946fd6;

  --black2: #00000015;
  --black1: #0000000f;
  --black0: #00000005;

  --white2: #ffffff15;
  --white1: #ffffff0f;
  --white0: #ffffff03;
}

.dark-mode {
  --page-bg: var(--primary);

  --card-bg: var(--primary1);
  --card-border: var(--white2);
  --card-border2: var(--white1);

  --title-color: var(--tertiary);
  --title-shadow-color: var(--white2);

  --text-color: var(--secondary);
  --text2-color: var(--primary-light);

  --edit-color: var(--primary);
  --edit-bg: var(--tertiary);
  --edit-border: var(--primary);

  --btn-hover: var(--quintenary);
  --placeholder: var(--quaternary-light);
}

.light-mode {
}

body {
  background-color: var(--page-bg);
}
