:root {
  --primary: #3f3b43;
  --primary1: #413D45;

  --primary-light: #9a989c;
  --secondary: #737a76;
  --secondary2: #5c605e;
  --tertiary: #b8b19e;
  --tertiary2: #c0b8a2;
  --quaternary: #bcb194;
  --quaternary2: #cac0a3;
  --quaternary-light: #bcb194d1;
  --quintenary: #b8946f;
  --quintenary2: #90765c;
  --quintenary-light: #b8946fd6;

  --black3: #0000002f;
  --black2: #00000015;
  --black1: #0000000f;
  --black0: #00000005;

  --white2: #ffffff2f;
  --white2: #ffffff15;
  --white1: #ffffff0f;
  --white0: #ffffff03;
}

.light-mode {
  --page-bg: var(--tertiary);

  --card-bg: var(--tertiary2);
  --card-border: var(--black3);

  --title-color: var(--primary);
  --title-shadow-color: var(--black2);

  --text-color: var(--quintenary2);
  --text2-color: var(--secondary2);

  --edit-color: var(--primary);
  --edit-bg: var(--quaternary2);
  --edit-border: var(--primary);
}

.dark-mode {
  --page-bg: var(--primary);

  --card-bg: var(--primary1);
  --card-border: var(--white2);

  --title-color: var(--tertiary);
  --title-shadow-color: var(--white2);

  --text-color: var(--secondary);
  --text2-color: var(--primary-light);

  --edit-color: var(--primary);
  --edit-bg: var(--tertiary);
  --edit-border: var(--primary);

  --btn-hover: var(--quintenary);
  --placeholder: var(--quaternary-light);
}

body {
  background-color: var(--page-bg);
}


/*
background
main
caret
sub
sub alt
text
error
extra error
*/
